@import "fonts.sass";

body {
  margin: 0;
  padding: 0;
}

* {
  font-family: 'MSlondonRegular';
}

#root {
  .container {
    .container-item {
      .container-item-wrapper {
        padding-top: 20px;
        padding-left: 30px;
        padding-bottom: 15px;
        padding-right: 25px;

        .card {
          cursor: pointer;

          h1 {
            font-weight: 600;
            font-size: 20px;
            font-family: 'MSlondonRegular';
            height: 52px;
            color: rgba(0, 0, 0, 0.6);
          }

          h2 {
            margin-top: 5px;
            color: rgba(0, 0, 0, 0.3);
            font-weight: 800;
            font-family: 'MSlondonRegular';
            font-size: 15px;
            height: 24px;
          }

          h1, h2 {
            overflow: hidden;
          }

          svg {
            width: 70px;
            height: 70px;
            transition: all .125s ease-out;
            -webkit-filter: drop-shadow(0 0 3px rgba(0, 0, 0, .5));
            filter: drop-shadow(0 0 3px rgba(0, 0, 0, .5));

            &:hover {
              width: 75px;
              height: 75px;
            }
          }

          .spinner {
            position: absolute;
            width: 80px;
            height: 80px;
            border: 2px solid #f3f3f3;
            border-top: 3px solid #f25a41;
            border-radius: 100%;
            margin: auto;
            animation: spin 1s infinite linear;
          }

          .equalizer {
            .square {
              position: absolute;
              transform: rotateX(180deg);
              height: 400px;
              width: 400px;
              margin: 100px;
              padding: 40px;
              background-color: #ffffff;
              border-radius: 35px;
              text-align: center;
              box-shadow: 0 0 70px 0 black;
              zoom: .08;
            }

            .bar1 {
              margin: 2%;
              padding-left: 50px;
              border-radius: 25px;
              background-color: rgba(229, 3, 0, .5);
              animation-duration: 1.5s;
              animation-iteration-count: infinite;
            }

            .bar2 {
              margin: 2%;
              padding-left: 50px;
              border-radius: 25px;
              background-color: rgb(229, 3, 0);
              animation-duration: 1.5s;
              animation-iteration-count: infinite;
            }

            .b1 {
              animation-name: b1;
            }

            .b2 {
              animation-name: b2;
            }

            .b3 {
              animation-name: b3;
            }

            .b4 {
              animation-name: b4;
            }

            .b5 {
              animation-name: b5;
            }
          }
        }
        .media {
          height: 300px;
        }
      }
    }
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes b1 {
  0% {
    padding-bottom: 10%;
  }
  16% {
    padding-bottom: 30%;
  }
  36% {
    padding-bottom: 20%;
  }
  52% {
    padding-bottom: 11%
  }
  68% {
    padding-bottom: 25%
  }
  68% {
    padding-bottom: 15%
  }
  84% {
    padding-bottom: 17%
  }
  100% {
    padding-bottom: 10%
  }
}

@keyframes b2 {
  0% {
    padding-bottom: 20%;
  }
  16% {
    padding-bottom: 50%;
  }
  36% {
    padding-bottom: 25%;
  }
  52% {
    padding-bottom: 40%
  }
  68% {
    padding-bottom: 15%
  }
  68% {
    padding-bottom: 35%
  }
  84% {
    padding-bottom: 45%
  }
  100% {
    padding-bottom: 20%
  }
}

@keyframes b3 {
  0% {
    padding-bottom: 5%;
  }
  16% {
    padding-bottom: 65%;
  }
  36% {
    padding-bottom: 40%;
  }
  52% {
    padding-bottom: 15%
  }
  68% {
    padding-bottom: 35%
  }
  68% {
    padding-bottom: 50%
  }
  84% {
    padding-bottom: 60%
  }
  100% {
    padding-bottom: 5%
  }
}

@keyframes b4 {
  0% {
    padding-bottom: 5%
  }
  16% {
    padding-bottom: 20%
  }
  36% {
    padding-bottom: 10%
  }
  52% {
    padding-bottom: 40%
  }
  68% {
    padding-bottom: 20%
  }
  68% {
    padding-bottom: 40%
  }
  84% {
    padding-bottom: 55%
  }
  100% {
    padding-bottom: 5%
  }
}

@keyframes b5 {
  0% {
    padding-bottom: 15%
  }
  16% {
    padding-bottom: 40%
  }
  36% {
    padding-bottom: 25%
  }
  52% {
    padding-bottom: 50%
  }
  68% {
    padding-bottom: 65%
  }
  68% {
    padding-bottom: 30%
  }
  84% {
    padding-bottom: 55%
  }
  100% {
    padding-bottom: 15%
  }
}